<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        
        <!-- META -->
        <title>{{ page.title | default: site.title }}</title>
        <meta name="description" content="{{ site.description }}" />
        <meta name="keywords" content="{{ site.keywords }}" />
        <meta name="author" content="AUTHOR" />
        <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
        <link rel="image_src" href="PAGE.COVER" />

        <!-- SCHEMA.ORG -->
        <meta itemprop="name" content="PAGE.TITLE" />
        <meta itemprop="description" content="PAGE.DESCRIPTION" />
        <meta itemprop="image" content="PAGE.COVER" />

        <!-- OPENGRAPH -->
        <meta property="og:site_name" content="{{ site.title }}" />
        <meta property="og:title" content="PAGE.TITLE" />
        <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
        <meta property="og:locale" content="{{ site.locale }}" />
        <meta property="og:image" content="PAGE.COVER" />

        <!-- TWITTER -->
        <meta name="twitter:title" content="PAGE.TITLE" />
        <meta name="twitter:description" content="PAGE.DESCRIPTION" />
        <meta name="twitter:card" content="PAGE.COVER" />

        <!-- VK -->
        <meta property="vk:image" content="PAGE.COVER" />

        <!-- ICONS -->
        <link rel="icon" type="image/png" sizes="16x16" href="" />
        <link rel="apple-touch-icon" href="" />
        <link rel="mask-icon" href="" color="B88B58" />

    </head>
    <body>
      <h1>{{ site.title }}</h1>
      {{ content }}
    </body>
</html>
